.messages {
  height: 65vh;
  padding-right: 10px;
  overflow-y: scroll;
}

.author {
  display: inline-block;
}

.time {
  display: inline-block;
  margin-left: 10px;
}

#personal-message .message-block {
  text-align: right;
}

.message {
  padding: 10px;
  border-radius: 10px;
  word-break: break-all;
  background-color: #0050b3;
}

#personal-message .message {
  background-color: #f5222d;
}

.ant-divider-horizontal {
  margin: 12px 0 !important;
}