.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px !important;
  text-align: center;
}

.content {
  padding: 0 50px;
  background-color: #f5f5f5;
}

.content-wrapper {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
